body {
    font-family: "Courier New", Courier, monospace;
    color: black;
  }
  
  h1 {
    font-size: 4em;
  }
  
  img{
    width: 100%;
  }
  
  
  .link {
    font-size: larger;
    color: #000000;
  } /* CSS link color (red) */
  
  .link:hover {
    color: #ff9d00;
  } /* CSS link hover (green) */
  
  .element {
    flex-grow: 0.3;
  }
  
  a {
    font-style: none;
  }
  